#clock {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#clock path {
  fill: #C7C7C7;
  stroke: white;
  stroke-width: 1;
}
#clock path.current {
  fill: #333333;
}
#clock path:first-child {
  fill: #00AACC;
}
#clock circle {
  fill: lightblue;
  stroke-width: 0;
}
#clock circle.white {
  fill: white;
}
#clock text {
  fill: #4D4D4D;
  font-size: 12px;
  dominant-baseline: central;
  text-anchor: middle;
}